<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/json-enc.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Todo List</h1>
        <form id="todo-form"
              hx-post="/todos"
              hx-ext='json-enc'
              hx-target="#todo-list"
              hx-swap="beforeend"
              class="mt-3">
            <div class="input-group mb-3">
                <input type="text" id="todo-input" placeholder="Add new todo" name="title" class="form-control">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
        <ul id="todo-list" class="list-group">
            {% for todo in todos %}
                {% include "record.html" %}
            {% endfor %}
        </ul>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
